version: '3.8'

services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
      args:
        VITE_API_URL: https://api.cosinv.com
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/ssl/certs
      - ./webroot:/var/www/html
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge