version: '3.8'

services:
  backend:
    build: ./backend
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
      args:
        VITE_API_URL: http://api.cosinv.com
    ports:
      - "80:80"
    volumes:
      - ./ssl:/etc/ssl/certs
      - ./webroot:/var/www/html
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge